{% extends "layout.html" %}

{% block content %}

  {% if success %}

    <p style="text-align: center; margin-top: 200px;">Thank you for your message. I'll get back to you shortly.</p>

  {% else %}

    <p style="text-align: center; margin-top: 200px;">Fill out the form below to send me a message.</p>

    <form action="{{ url_for('contact') }}" method=post>
      {{ form.csrf_token }}

      {% for message in form.name.errors %}
        <div class="flash">{{ message }}</div>
      {% endfor %}

      {% for message in form.email.errors %}
        <div class="flash">{{ message }}</div>
      {% endfor %}

      {% for message in form.message.errors %}
        <div class="flash">{{ message }}</div>
      {% endfor %}

      {{ form.name.label }}
      {{ form.name }}

      {{ form.email.label }}
      {{ form.email }}

      {{ form.message.label }}
      {{ form.message }}

      {{ form.submit }}
    </form>

  {% endif %}
{% endblock %}
