{% extends "layout.html" %}

{% block content %}

  {% if success %}

    <p id='chdr'>Thank you.</p>

    <p style="text-align: center;">
      Your message has been dispatched. If you're
      lucky, you should be hearing from me soon!
    </p>

  {% else %}

    <p id='chdr'>What's Up?</p>

    <p style="text-align: center;">Fill out the form below to send me a message.</p>

    <form action="{{ url_for('contact') }}" method=post>
      {{ form.csrf_token }}

      {% for message in form.name.errors %}
        <div class="flash">{{ message }}</div>
      {% endfor %}

      {% for message in form.email.errors %}
        <div class="flash">{{ message }}</div>
      {% endfor %}

      {% for message in form.message.errors %}
        <div class="flash">{{ message }}</div>
      {% endfor %}

      {{ form.name.label }}
      {{ form.name }}

      {{ form.email.label }}
      {{ form.email }}

      {{ form.message.label }}
      {{ form.message }}

      {{ form.submit }}
    </form>

  {% endif %}
{% endblock %}
